.nbrCas{
    font-family: Sarala;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    color: rgb(255, 153, 71);
  
    }
    
  .nbrCastoday{
    font-weight:lighter;
    font-size: 1em;
    color: rgb(255, 153, 71);
    }
  
  .nbrDeces{ 
      font-weight: bold;
      font-size: 2em;
      color: #43547e;
     }
    
  .nbrDecestoday{ 
    font-weight:lighter;
    font-size: 1em;
    color: #43547e;
     }
     .petitcontainer{
          border: 0.05em solid rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          margin: 0.8em;
          width: 7em;
          height: 7em;
          box-shadow: 0.3em 0.25em 0.25em rgba(0, 0, 0, 0.25);
          border-radius: 0.75em;
          padding: 0.05em;
          font-family: Sarala;
          font-style: normal;
      }
      