.infos {
    justify-content: center;
    margin-left: 4em;
}
.tab {
    justify-content: right;
    margin-left: 4em;
}
.row {
    display : flex;
}

 .monApi {
    margin-top : 2em;
    margin-left: 20em;
} 

@media only screen and (max-device-width : 360px) {   
    .row{display: flex;}
    .infos {width: 45%;}
    .tab {width: 45%;}
    
}

@media only screen and (max-device-width : 768px) {
    .row{display: flex;}
    .infos {width: 45%;}
    .tab {width: 45%;}
  
}